// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.breadcrumbs li{
	padding-top: 5px;
}

ul, ol {
margin-bottom: 0px;
}

body{
	background-color: #F4F4F4;
}

table tbody tr td {
	padding: 0px;
}

table{
	margin:0px;
}

.row {
	margin-bottom: 50px;
}

.leaves{
	padding-top:25px;
	height:100%;
	width:auto;
}

.rss{
	padding-top:25px;
	padding-right:50px;
	height:100%;
	width:auto;
	float:right;
}

.header-text-container{
	padding:50px 0px;
	width:40%;
}

.header-container{
	background-color: white;
	width:100%;
}

.header-side {
	width:30%;
}

.header {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 72px;
}

.subheader {
	padding-top: 30px;
	text-align:center;
	font-size: 24px;
}

.logo {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 32px;
	text-align: right;
	padding: 5px;
}

.main-container{
	padding-top:50px;
	background-color: #F4F4F4;
	height:100%;
}

.title{
	text-align: center;
	background: rgba(0, 0, 0, 0.1);
}

.content{
	text-align:justify;
	min-height:250px;
}

.see-more{
	position:absolute;
	bottom:0px;
	right:0px;
	color:#2A85E8;
}
