// Place all the styles related to the more controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.report{
	display:block;
	margin-left:95%;
}

.news-content{
	background: rgba(0, 0, 0, 0.1);
	margin-bottom:none;
}

.nice.tabs.vertical dd a.news-text{
	background: rgba(0, 0, 0, 0.0);
}

.nice.tabs.vertical dd a.news-text.active{
	background: rgba(0, 0, 0, 0.0);
	color:black;
	font-weight: normal;
	padding:none;
	margin:none;
	border:none;
}