<div class="tab">
	<ul class="breadcrumbs">
		<li><%= link_to "Popular Base de Dados", :controller => "home", :action => "populate"%></li>
		<li><%= link_to "Retreinar Modelo", :controller => "home", :action => "retrainmodel"%></li>
		<div class="logo">Paradigmas de Programação</div>
	</ul>
</div>