<div class="tab">
	<ul class="breadcrumbs">
		<li><%= link_to "Populate database", :controller => "home", :action => "populate"%></li>
		<li><%= link_to "Retrain model", :controller => "home", :action => "retrainmodel"%></li>
		<div class="logo">Paradigmas de Programação</div>
	</ul>
</div>